In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://mkm98183:5kDHjY9d1xTs7rnF@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB?security=SSL

'Connected: mkm98183@BLUDB'

In [3]:
%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES \
      where TABSCHEMA not in ('SYSIBM', 'SYSCAT', 'SYSSTAT', 'SYSIBMADM', 'SYSTOOLS', 'SYSPUBLIC')

 * ibm_db_sa://mkm98183:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[('MKM98183', 'SPACEXTBL', datetime.datetime(2022, 5, 21, 11, 27, 21, 770311)),
 ('MKM98183', 'INTERNATIONAL_STUDENT_TEST_SCORES', datetime.datetime(2022, 2, 12, 16, 20, 46, 839946)),
 ('MKM98183', 'PETSALE', datetime.datetime(2022, 2, 12, 12, 51, 11, 253502)),
 ('MKM98183', 'PET', datetime.datetime(2022, 2, 12, 12, 51, 11, 305944)),
 ('MKM98183', 'SCHOOLS', datetime.datetime(2022, 2, 13, 12, 26, 49, 257233)),
 ('MKM98183', 'CENSUS_DATA', datetime.datetime(2022, 2, 13, 16, 1, 42, 80618)),
 ('MKM98183', 'CHICAGO_CRIME_DATA', datetime.datetime(2022, 2, 13, 16, 2, 47, 993009)),
 ('MKM98183', 'CHICAGO_PUBLIC_SCHOOLS', datetime.datetime(2022, 2, 13, 16, 3, 53, 491801)),
 ('MKM98183', 'VIEW_CPS', datetime.datetime(2022, 2, 17, 13, 59, 13, 304539)),
 ('MKM98183', 'CPS_VIEW', datetime.datetime(2022, 2, 17, 21, 13, 35, 484794))]

### Problem 1: 
Find the total number of crimes recorded in the CRIME table.

In [4]:
%sql select count(*) from CHICAGO_CRIME_DATA;

 * ibm_db_sa://mkm98183:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[(533,)]

### Problem 2: 
List community areas with per capita income less than 11000.

In [5]:
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA where PER_CAPITA_INCOME < 11000;

 * ibm_db_sa://mkm98183:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

### Problem 3: 
List all case numbers for crimes involving minors?

In [21]:
%sql select CASE_NUMBER from CHICAGO_CRIME_DATA where DESCRIPTION like '%MINOR%';

 * ibm_db_sa://mkm98183:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[('HL266884',), ('HK238408',)]

### Problem 4: 
List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [22]:
%sql select * from CHICAGO_CRIME_DATA where PRIMARY_TYPE = 'KIDNAPPING' and DESCRIPTION like '%CHILD%';

 * ibm_db_sa://mkm98183:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

### Problem 5: 
What kind of crimes were recorded at schools?

In [23]:
%sql select distinct(PRIMARY_TYPE) from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION like '%SCHOOL%';

 * ibm_db_sa://mkm98183:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPA',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VI',)]

### Problem 6: 
List the average safety score for all types of schools.

In [24]:
%sql select "Elementary, Middle, or High School", AVG(Safety_Score) from SCHOOLS group by "Elementary, Middle, or High School";

 * ibm_db_sa://mkm98183:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

### Problem 7: 
List 5 community areas with highest % of households below poverty line.

In [25]:
%sql select COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY from CENSUS_DATA \
    order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 5;

 * ibm_db_sa://mkm98183:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8: 
Which community area(number) is most crime prone?

In [26]:
%sql select COMMUNITY_AREA_NUMBER, count(*) as total_crime from CHICAGO_CRIME_DATA \
    group by COMMUNITY_AREA_NUMBER \
    order by total_crime desc limit 1;

 * ibm_db_sa://mkm98183:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[(25, 43)]

### Problem 9: 
Use a sub-query to find the name of the community area with highest hardship index.

In [27]:
%sql select COMMUNITY_AREA_NAME from  CENSUS_DATA where HARDSHIP_INDEX = (select MAX(HARDSHIP_INDEX) from  CENSUS_DATA);

 * ibm_db_sa://mkm98183:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[('Riverdale',)]

### Problem 10: 
Use a sub-query to determine the Community Area Name with most number of crimes?

In [28]:
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA \
    where COMMUNITY_AREA_NUMBER in (select COMMUNITY_AREA_NUMBER from CHICAGO_CRIME_DATA group by COMMUNITY_AREA_NUMBER order by count(COMMUNITY_AREA_NUMBER) desc limit 1);

 * ibm_db_sa://mkm98183:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
Done.

[('Austin',)]